<html>
<head>
  <title>AngularJS Sample</title>
  <link rel="stylesheet" href="foundation.min.css">
</head>
<body>

<div ng-app='app'>

  <!-- templates must be included inside app  -->
  <script type="text/ng-template" id='zippy.html'>
    <div>
      <h3 ng-click='toggleContent()'>{{title}}</h3>
      <div ng-show='isContentVisible' ng-transclude></div>
    </div>
  </script>
  
  <input type='text' ng-model='model.title'>
  <input type='text' ng-model='model.content'>

  <zippy title='{{model.title}}'>
    The content is: {{model.content}}
  </zippy>  

</div>





  <script type="text/javascript" src='angular.js'></script>
  <script type="text/javascript" src='main.js'></script>
</body>
</html>

